@font-face {
  font-family: Thunder;
  font-weight: 1 999;
  src: url('../fonts/Thunder-VF.ttf');
  font-display: swap;
}
@font-face {
  font-family: 'Thunder-MediumHC';
  font-weight: 1 999;
  src: url('../fonts/Thunder-MediumHC.ttf');
  font-display: swap;
}
@font-face {
  font-family: Merchant;
  font-weight: 1 999;
  src: url('../fonts/Merchant-VF.ttf');
  font-display: swap;
}
@font-face {
  font-family: 'Merchant-ThinCondensed';
  font-weight: 1 999;
  src: url('../fonts/Merchant-ThinCondensed.ttf');
  font-display: swap;
}
@font-face {
  font-family: 'Merchant-Condensed';
  font-weight: 1 999;
  src: url('../fonts/Merchant-Condensed.ttf');
  font-display: swap;
}
